h1{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    font-family: verdana;
    background-color: lightcoral;
    border-width: 5px;
    max-width: 30%;
    position:relative;
    Left: 500px;

}

h2{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    font-family: verdana;
    font-size: 150%;
    background-color: lightcoral;
    border-width: 5px;
    max-width: 40%;
}

#grad1{
    height: 728px;
    background-color: #4169E1; /*for browsers that dont support gradients*/
    background-image: linear-gradient(to bottom right,#FFD1B9,#FFB74D,#FF6E6A,#8E94F2,#5EC8E3 );
    background-repeat: no-repeat;
}